/* start with mobile first */

div, header, footer{
    width: 100%;
    border: 1px solid black;
    background-color: lightcoral;
    color: red;
    text-align: center;
    /* line-height: 200px; */
  }

  body {
    min-height: 500px;
    max-height: 800px;
  }